# App
APP_NAME=""
APP_ENV=""
APP_PORT=""
APP_URL=""

#DATABASE
DATABASE_URL=""

#CACHE
CACHE_URL=""
CACHE_HOST=""
CACHE_PORT=
CACHE_DB=
CACHE_TTL=

#EMAIL
EMAIL_USER=""
EMAIL_PASSWORD=""
EMAIL_FAKE=""
